<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="quiz.ico" type="imagen/x-icon"/>
  </head>
  <body>
    <label for="preg" class="rem">Pregunta:</label>
    <input type="text" id="preg" name="quiz[pregunta]" placeholder="Escriba su pregunta"/><p>
    <label for="resp" class="rem">Respuesta:</label>
    <input type="text" id="resp" name="quiz[respuesta]" placeholder="Escriba su respuesta"/><p>
    <a href="/quizes"><button type="button">Cancelar</button></a>
    <input type="submit" value="Salvar">
  </body>
</html>