<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="quiz.ico" type="imagen/x-icon"/>
  </head>
  <body>
    <%= respuesta%><p>
    <a href="/quizes/<%=quiz.id%>">Vuelva a jugar</a>
    <!-- Si queremos volver a la lista de preguntas total en vez de la pregunta anterior ponemos:
    <a href="/quizes">Vuelva a jugar</a>
    -->
  </body>
</html>