<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="quiz.ico" type="imagen/x-icon"/>
  </head>
  <body>
    <h2>Preguntas del Quiz</h2>
    <table id="table">
      <!--Renderizamos filas de la tabla.
          Cada iteración genera un elemento.
      -->
      <% for(var i in quizes) { %> 
          <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
      <% } %>
    </table>
    <h2>Creador de preguntas</h2>
    <a href="/quizes/new"><button type="button">Crear Pregunta</button></a>
      <form method="get" action="/quizes">
        <h2>Buscador de preguntas</h2>
        <input type="text" id ="busqueda" name="busqueda" placeholder="Responda aquí"/>
        <input type="submit" value="Enviar"/>
      </form>
  </body>
</html>
